<tr>
    <th>S/N</th>
    <th>Name</th>
    <th>Code</th>
    <th>Actions</th>
</tr>

{% for bank in banks %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ bank.name }}</td>
    <td>{{ bank.code }}</td>
    <td>
        <a href="{% url 'main:update-bank' id=bank.id %}" class="btn btn-warning">
            <i class="fa fa-pencil"></i>
        </a>

        <a href="{% url 'main:delete-bank' id=bank.id %}" class="btn btn-danger">
            <i class="fa fa-trash"></i>
        </a>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="4" class="text-center text-muted">
        There is no available bank
    </td>
</tr>
{% endfor %}