{% extends 'base.html' %}

{% block content %}
<form method="post" class="card">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    
    <div class="card-header">
        <h3 class="card-title text-secondary text-center">
            Update {{ model }}
        </h3>
    </div>

    <div class="card-body">
        {% crispy form %}

        <div class="text-end">
            <a href="{{ back_url }}" class="btn btn-primary">
                <i class="fa fa-arrow-left"></i> Back
            </a>
    
            <button type="submit" class="btn btn-secondary">
                Update <i class="fa fa-paper-plane"></i>
            </button>
        </div>
    </div>
</form>
{% endblock %}