{% extends 'base.html' %}

{% block content %}
<div class="card mt-5 mx-auto" style="max-width: 600px;">
    <div class="card-header">
        <h3 class="card-title text-center text-secondary">Recover your account</h3>
    </div>

    <form method="post" class="card-body">
        {% csrf_token %} {% load crispy_forms_tags %}
        {{ form|crispy }}

        <div class="d-grid">
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-send"></i> Get Recovery Instructions
            </button>
        </div>
    </form>

    <div class="card-footer">
        <div class="row g-4">
            <div class="col">
                <div class="d-grid">
                    <a class="btn btn-primary" href="{% url 'auth:signin' %}">
                        <i class="bi bi-box-arrow-in-right"></i> Signin
                    </a>
                </div>    
            </div>

            <div class="col">
                <div class="d-grid">
                    <a class="btn btn-success" href="{% url 'auth:signup' %}">
                        <i class="bi bi-person-plus"></i> Signup
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}