{% extends 'base.html' %}

{% block content %}
<form method="post" class="card my-5 mx-auto" style="max-width: 600px;">
    <div class="card-header">
        <h3 class="card-title text-center text-danger">Reset Password</h3>
    </div>

    <div class="card-body">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form|crispy }}
    </div>

    <div class="card-body">
        <div class="d-grid">
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-send"></i> Reset Password
            </button>
        </div>
    </div>
</div>
{% endblock content %}