{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data" class="card mx-auto" style="max-width: 600px;">
    <div class="card-header">
        <h2 class="card-title text-success">{{ user }}</h2>
    </div>

    <div class="card-body">
        <img src="{{ user.avatar }}" alt="{{ user }}" class="img d-block mx-auto">
        {% load crispy_forms_tags %}
        {% csrf_token %}
        {{ form|crispy }}
    </div>

    <div class="card-footer">
        <div class="d-grid">
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-upload"></i> Update Picture
            </button>
        </div>
    </div>
</form>
{% endblock %}