{% for grade in data %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ grade.name }}</td>
    <td>{{ grade.value }}</td>
    <td>
        <div class="btn-group" hx-target="#dialog">
            <a href="{{ grade.update_url }}" hx-get="{{ grade.update_url }}" class="btn btn-warning">
                <i class="bi bi-pencil"></i>
            </a>

            <a href="{{ grade.delete_url }}" hx-get="{{ grade.delete_url }}" class="btn btn-danger">
                <i class="bi bi-trash"></i>
            </a>
        </div>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="4" class="text-center text-muted">
        There is no available grade
    </td>
</tr>
{% endfor %}